# function that finds next prime number e.g. FNP of 6 is 7

def find_next_prime(n):
  int(n) = raw_input('Enter your test integer')
  # what I want to do here is test n for primality. If n = prime then print. Else n+1, test for primality, if prime print, 
  # else +1 test for primality. End program with '(integer) is your next prime number'
  
  pass
